* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  height: 200vh;
  padding-left: 70px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  position: relative;
  padding-top: 20px;
  padding-right: 40vh;
}

.heading {
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
}

p {
  width: 80%;
}
