*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
   height: 100vh;
   width: 200%;
   background: linear-gradient(135deg, #02407A, #D68383);    
}

p{
    width:300px;
    position: relative;
    top: 22rem;
    left: 70rem;
    color:white;
    font-size: 18px;
    font-family: "winco", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    
 }

h1{
    width: 300px;
    position: relative;
    top: 15rem;
    left: 165rem;
    margin-right: 20px;
    color: white;
    font-size: 18px;
    font-family: "winco", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;   
 }

.click{
    top: 39rem;
    left: 140rem;
    width: 500px;
    position: relative;   
    color: #DFDFDF;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
   
    text-transform: uppercase; 
 }
.scroll{
    top: 40rem;
    left:45rem;
    width: 500px;
    position: relative;   
    color: #DFDFDF;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase; 
}
 
.pointer{
    cursor: pointer;
 }
 
 

.pos{
    position: fixed;
    left: 10%;
    top: 40%;
 }
 .cloud{
    
    position: absolute;
    top: -10%;
    
    width: 150px;
    height: 100px;
    background: #9F8282;
    border-radius: 50%;
   
   
    
 }

 .cloud::before{
    content: "";
    position: absolute;
    left: -52%;
    
    width: 120px;
    height: 120px;
    background: #9F8282;
    border-radius: 50%;

 }
 .cloud::after{
    content: "";
    position: absolute;
    left: 80%;
   
    width: 120px;
    height: 120px;
    background: #9F8282;
    border-radius: 50%;

 }
 .c-base{
    position: relative;
    left:-25%;
    transform: translate(0,35%);
    
    width: 320px;
    height: 130px;
    background: #9F8282;
    border-radius: 50% / 50%;
   

 }
 .eye1{
    left: 12%;
    top: 50%;
    position: absolute;
    width: 24px;
    height: 32px;
    background: #473636;
    border-radius: 50%;
    

    
 }
 .eye1::before{
    content: "";
    position: absolute;
    left: 1%;
    top: 10%;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;

 }
 .eye1::after{
    content: "";
    position: absolute;
    left: -200%;
    top: 70%;
    width: 27px;
    height: 35px;
    background: #C87E82;
    border-radius: 50%;
    transform: rotate(90deg);

 }

 .eye2{
    left: 27%;
    top: 50%;
    position: absolute;
    width: 24px;
    height: 32px;
    background: #473636;
    border-radius: 50%;
    

    
 }
 .eye2::before{
    content: "";
    position: absolute;
    left: 5%;
    top: 10%;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;

 }
 .eye2::after{
    content: "";
    position: absolute;
    left: 200%;
    top: 70%;
    width: 27px;
    height: 35px;
    background: #C87E82;
    border-radius: 50%;
    transform: rotate(90deg);

 }
 .smile{
   position: absolute;
   width: 15px;
   height: 15px;
   background: transparent;
   border-radius: 50%;
   border: 4px solid transparent;
   border-left: 4px solid #473636;
   border-bottom: 4px solid #473636;
   transform: translate(4.2rem,-1.5rem) rotate(135deg);



}












